{% extends 'basic.html' %}
{% block title %} Subrata - About {% endblock title %}
{% block body %}

<section id="resume" class="resume">
	<div class="container">

	  <div class="section-title">
		<h2>Resume</h2>
		<p>An award-winning and confident instructor, able to establish rapport quickly and conduct the training
		sessions with clarity and enthusiasm.</p>
	  </div>

	  <div class="row">
		<div class="col-lg-6" data-aos="fade-up">

		  <h2 class="resume-title">Education</h2>
		  <div class="resume-item">
			<h4>Bachelor of Science</h4>
			<ul>
				<li><strong>Institute : </strong>Midnapore College (Autonomous)</li>
				<li><strong>Stream : </strong>Mathematics</li>
				<li><strong>Session : </strong>2019 - 2022</li>	
			</ul>
		  </div>
		  <div class="resume-item">
			<h4>Master of Science</h4>
			<ul>
				<li><strong>Institute : </strong>Vidyasagar University</li>
				<li><strong>Stream : </strong>Computer Science</li>
				<li><strong>Session : </strong>2022 - Present</li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
		  <h3 class="resume-title">Projects</h3>
		  <div class="resume-item">
			<h4>Tic-Tac-Toe (Game)</h4>
			<ul>
				<li><strong>Project Description : </strong>It's a very interesting game. Each player picks one word in turn and to win, a player must select three words with the same letter. The words may be plotted on a tic-tac-toe grid in such a way that a three-in-a-row line wins. Numerical Tic Tac Toe is a variation invented by the mathematician Ronald Graham. The numbers 1 to 9 are used in this game.</li>
				<li><strong>Project Link : </strong><a href="https://subrata2402.github.io/Tic-Tac-Toe/">Click Here</a></li>
			</ul>
			</div>
		  <div class="resume-item">
			<h4>Camelia (Discord Application)</h4>
			<ul>
				<li><strong>Project Description : </strong>Camelia is a Discord Application which is used to play music in a Discord Server.</li>
				<li><strong>Project Link : </strong><a href="https://subrata2402.github.io/Camelia-2.0/">Click Here</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
		  <h3 class="resume-title">Certificates</h3>
		  <div class="resume-item">
			<h4>Complete Python Challenges, Python MCQ& Python
				Recap in 2022</h4>
			<ul>
				<li><strong>URL : </strong><a href="https://www.udemy.com/certificate/UC-9b922591-34db-4e69-897e-bd41a75d2211/">Click Here</a></li>
				<li><strong>Issued By : </strong>Udemy</li>
				<li><strong>Issued On : </strong>15/05/2022</li>
			</ul>
			</div>
		  <div class="resume-item">
			<h4> HTML and CSS for Beginners From Basic to Advance</h4>
			<ul>
				<li><strong>URL : </strong><a href="https://www.udemy.com/certificate/UC-ac8b7578-bbfd-457c-bc18-f9dc428ea19a/">Click Here</a></li>
				<li><strong>Issued By : </strong>Udemy</li>
				<li><strong>Issued On : </strong>09/07/2022</li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
		  <h3 class="resume-title">Languages</h3>
		  <div class="resume-item">
			<h4>Bengali</h4>
			<ul>
				<li>Native or Bilingual Proficiency</li>
			</ul>
			</div>
		  <div class="resume-item">
			<h4>Hindi</h4>
			<ul>
				<li>Full Professional Proficiency</li>
			</ul>
		  </div>
		  <div class="resume-item">
			<h4>English</h4>
			<ul>
				<li>Professional Working Proficiency</li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
</section>
{% endblock body %}